extends ../layout/layout

block content
  div(class="flex flex-col gap-4 items-center bg-[#D9D9D9] pt-6 pb-8 px-8 rounded shadow-md max-w-[20vw] text-justify")
    big(class="flex gap-4 items-center justify-start w-full")
      a(href="/login")
        i(class="fa fa-angle-left" aria-hidden="true") 
      h1 Recuperar contraseña
    p(class="flex-wrap") Ingrese su correo electronico. Si este corresponde con alguno registrado, se le enviara un correo para que pueda restarurar su contraseña.
    form(class="flex flex-col w-full gap-4" action="/restore-password" method="post")
      div(class="w-full flex flex-col gap-2")
        label(for="email") Ingrese su correo electronico
        input(type="text" name="email" placeholder="Correo electronico" class="border border-1 border-gray-200 rounded px-4 py-2 bg-white")
      button(type="submit" class="w-full border border-1 border-gray-500 rounded py-2") Confirmar